.quoteBox__phrase {
    color: black;
    background: linear-gradient(white, gray);
    padding: 45px 25px;
    opacity: 70%;
    border-radius: 39px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: center;
    
    }