.title {
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    padding: 30px;
}
.app{
    color: white;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: grid;
    justify-items: center;
   
}

.app.bg1 {
  
    background-image: url(/images/bg1.jpg);
}

.app.bg2 {
    background-image: url(/images/bg2.jpg);

}

.app.bg3 {
    background-image: url(/images/bg3.jpg);
   
}

.app.bg4 {
    background-image: url(/images/bg4.jpg);
   
}
.app__container {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    width: min(100%, 450px);
    padding: 0 10px;

}

.planetContainer {
    display: grid;
   overflow: hidden;
    position: relative;
    justify-items: center;

    
}

.planetContainer img {
    width: 75%;
    height: 100%;
    
}

.planetContainer h3 {
    font-size: 12px;
    position: absolute;
    bottom: 10%;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);   
}
.planetContainer button {
    position: absolute;
    top: 10%;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8); 

}

.quoteBox__btn {
    border: none;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    justify-items: center;
    
    }